@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.dashboard {
	&__container {
		display: flex;
	}

	&__main {
		flex-grow: 1;
		width: 90%;
		margin: 2rem;
	}
}
