@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.contact-page {
    &__hero{
        background: url('../../assets/images/contact-us.jpeg');
        width: 100vw;
        height: 30vh;
        background-repeat: no-repeat;
        // object-fit: cover;
        background-size: cover;
        object-position: top 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        h3{
            width: 100vw;
            height: 30vh;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #000, $alpha: .7);
        }
    }
	&__container {
		width: 90%;
		margin: 0 auto;
	}
	&__cards-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		@include tablet {
			flex-direction: row;
		}
	}
	&__card {
		box-shadow: 1px 3px 28px 3px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 1px 3px 28px 3px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 1px 3px 28px 3px rgba(0, 0, 0, 0.2);
		display: flex;
		// border: 1px solid red;
		// max-width: 16rem;
        width: 20rem;
		justify-content: center;
		padding: 1rem;
		gap: 1rem;
		min-height: 15rem;
        @include tablet{
            min-width: 15rem;
        }
		@include desktop {
			max-width: 18rem;
            // width: 18rem;
		}

		&-image {
			width: 20%;
		}
		&-body {
			width: 80%;
			h3,
			h5 {
				font-size: 1rem;
				line-height: 1.2;
			}
			p {
				font-size: 0.75rem;
				margin-bottom: 1rem;
				margin-top: 0.5rem;
			}
		}
	}
}

.contact-form {
    border: 1px dotted $secondary;
	&__input {
		&:focus {
			outline: 1px solid $secondary;
		}
        &::placeholder{
            color: rgba($color: #000, $alpha: .5);
            font-size: .75rem;
        }
	}
    &__textarea{
        &:focus {
			outline: 1px solid $secondary;
		}
    }
    button{
        background-color: $secondary;
        &:hover{
            background-color: $primary;
        }
        &::placeholder{
            color: rgba($color: #000, $alpha: .5);
            font-size: .75rem;
        }
    }
}
