@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.shop-page {
	&__container {
		width: 95%;
		margin: 0 auto;
		padding: 3rem 0;
		display: flex;
		&-prod {
			width: 80%;
			margin: 0 auto;
		}
	}
	&__filters {
		margin-right: 1rem;
		width: 25%;
		padding: 0 0.5rem;
		&-search {
			display: flex;
			input {
				width: 100%;
				margin: 0;
				border: none;

				&::placeholder {
					color: black;
					font-size: 0.75rem;
				}
				&:focus {
					outline: none;
				}
			}
		}

		&-brand {
			margin-top: 1rem;
			&--title {
				font-size: 0.9rem;
			}
			&--checkbox {
			}
		}
		&-category {
			&--title {
				font-size: 0.9rem;
			}
		}
		&-price {
			p {
				font-size: 0.8rem;
			}
		}
	}
	&__card {
	
		img {
			transition: all 0.25s;
		}
		&:hover {
			img {
				transform: scale(0.9);
			}
		}
		&__desc {
			// border: 1px solid red;
			display: flex;
			justify-content: space-between;
			margin-top: 0.5rem;
			padding: 0.25rem;

		
			&-name {
				font-size: 0.9rem;
				font-weight: bold;
			}
			&-price {
				font-size: 0.8rem;
			}
		}
		&--hover {
			&--back {
				background-color: rgba($color: #000000, $alpha: 0.7);
				// border: 2px solid red;
				padding: 0.5rem;
				border-radius: 50%;
				// width: 20px;
				// height: 20px;
				margin-bottom: 0.5rem;

				display: block;
				&:hover {
					background-color: rgba($color: $secondary, $alpha: 1);
				}
			}
		}
	}
}

.qty-minus,
.qty-plus {
	background-color: #000000;
	color: #000000;
	display: inline-block;
	padding: 0.5rem;
}

.single-product {
	&__image-container {
		width: 100%;
	}
	&__qty {
		&-container {
			&--bottom {
				margin: 0.5rem 0;
				p {
					display: inline-block;
					margin: 0 1rem;
				}
				span {
					cursor: pointer;
				}
				&--addCart {
					border: none;
					background-color: $secondary;
					margin: 0 1rem;
					padding: 0.5rem 2rem;
					color: #fff;
					cursor: pointer;
					span {
						font-size: 0.75rem;
					}
				}
			}
		}
	}
}

.mynewclass {
	background-color: white;
	// border: 1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: grey;
		color: white;
	}
}
