@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.sidebar {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
height: 100vh;
	&__menu {
		&--collapse {
			display: flex;
            justify-content: flex-end;
            :hover{
                color: $secondary;
            }
			div {
				padding: 0 !important;
              

            
               
			}
		}
	}
    &__avatar{
        width: 10rem;
        height: 10rem;
    }
}
